/*
Paragraph tags with the "pop-text" class will have a pop-up
and dissappear animation applied to them when they are created.
They should be created with parameters "top" and "left" populated
since they are absolute positioned
*/
p.pop-text {
    display: inline-block; /* Only as wide as the text */
    font-weight: bold;
    position: absolute; /* Position will be specified by "top" and "left" */
    color: transparent;

    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: pop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */

    /* Standard syntax */
    animation-name: pop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    z-index: 5;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pop {
    /* Scale from tiny to regular size for half the animation */
    0% {-webkit-transform: scale(0.01,0.01);color: red;}
    50% {-webkit-transform: scale(1,1);}

    /* Then dissappear for the rest */
    100% {color: transparent;}
}

/* Standard syntax */
@keyframes pop {
    /* Scale from tiny to regular size for half the animation */
    0% {transform: scale(0.01,0.01); color: red;}
    50% {transform: scale(1,1);}

    /* Then dissappear for the rest */
    100% {color: transparent;}
}