{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'jackit/css/index.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}
    <h1>Welcome to JackIT! The game.</h1>

    <div id="screen"></div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        // So that we can load resources in resources.js
        var static_url = "{% get_static_prefix %}";
    </script>

    <!-- Loads the MelonJS game engine-->
    <script
        src="https://cdn.jsdelivr.net/npm/melonjs@4.1.1/build/melonjs.min.js"
        integrity="sha256-p82jsTvXuUELwrZOrX1pwalN20SvBpsjIowiWcSZ8ZU="
        crossorigin="anonymous"></script>

    {% load static %}

    <!-- MelonJS Plugins -->
    <script type="text/javascript" src="{% static 'jackit/lib/plugins/debug/debugPanel.js' %}"></script>

    <!-- Game scripts -->
    <script type="text/javascript" src="{% static 'jackit/js/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'jackit/js/resources.js' %}"></script>

    <script type="text/javascript" src="{% static 'jackit/js/entities/entities.js' %}"></script>
    <script type="text/javascript" src="{% static 'jackit/js/entities/HUD.js' %}"></script>
    <script type="text/javascript" src="{% static 'jackit/js/screens/title.js' %}"></script>
    <script type="text/javascript" src="{% static 'jackit/js/screens/play.js' %}"></script>

    <script type="text/javascript">
        window.onReady(function onReady() {
            console.log("game.onload()");
            game.onload();
        });
    </script>
{% endblock %}