{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'crapdb/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/unauth-navbar.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'core/tags/unauth-navbar.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <unauth-navbar hacker-bucks="{{ unauth_session.hacker_bucks }}"></unauth-navbar>

    {% load static %}
    <h1>About Us</h1>

    <div class="container">
        <a href="https://github.com/vix597/Ru5tedBun1ons">
            <img
                style="position: fixed; top: 0; left: 0; border: 0; z-index: 1031;"
                src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67"
                alt="Fork me on GitHub"
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png">
        </a>

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="{% static 'crapdb/img/bunions1.steg.jpg' %}" alt="BUNION">
                    <div class="card-body">
                        <p class="card-text">
                            *.* brute force bar gcc interpreter strlen blob grep python fopen
                            endif while hack the mainframe alloc. If headers back door wombat
                            segfault tcp machine code flood. Sql stack mega error gurfle cache
                            January 1, 1970 continue giga true packet sniffer do warez foad var
                            worm Donald Knuth stack trace.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="{% static 'crapdb/img/bunions2.steg.bmp' %}" alt="BUNION">
                    <div class="card-body">
                        <p class="card-text">
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                            ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT ROT
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="{% static 'crapdb/img/bunions3.steg.png' %}" alt="BUNION">
                    <div class="card-body">
                        <p class="card-text">
                            password password password password password password password
                            password password password password password password password
                            password password password password password password password
                            password password password password password password password
                            password password password password password password password
                            password password password password password password password
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>About Stego</h1>

    <div class="container">
        <p>
            On an unrelated note (e.g. nothing to do with those images above) I wrote a sweet
            super secure next generation stego program that everyone should know about.
        </p>
        <p>
            Stego, short for steganography is when you hide data in other files. My next generation
            python library uses super secure stego techniques and works particularly well to hide
            data in images. Get it here: <a href="{% static 'crapdb/other/stegcrap.py' %}">stegcrap.py</a>
        </p>
    </div>
{% endblock %}

{% block footer %}
    <p>&copy; {% now "Y" %} rustedbunions.com | <a href="{% url 'crapdb:index' %}">home</a></p>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        $(document).ready(function() {
            riot.mount("unauth-navbar");
            syncSession();
        });
    </script>
{% endblock %}
