{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    <!-- Custom styles for signin page -->
    {% load static %}
    <link href="{% static 'crapdb/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" action="{% url 'crapdb:searchcrap' %}" method="POST">
        {% csrf_token %}

        <h2 class="form-signin-heading">Who are you?</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        {% verbatim %}
            <!-- NOTE: Change flag value before release -->
            <input type="hidden" value="Flag={__PLACEHOLDER_FLAG__}">
        {% endverbatim %}

        <div style="padding-top: 10px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            <button onclick="goBack()" class="btn btn-lg btn-primary btn-block" type="button">Back</button>
        </div>
    </form>

    {% if result %}
        <div class="alert alert-success" role="alert">
            User found
        </div>
        <form action="{% url 'crapdb:getpassword' %}" method="POST">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Security Question</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Get Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in result %}
                        <tr>
                            <td>{{ name.0 }}</td>
                            <td>{{ name.1 }}</td>
                            <td>
                                <input
                                    type="text"
                                    name="answer"
                                    class="form-control"
                                    placeholder="Security Question Answer"
                                    required>
                                <input type="hidden" name="username" value="{{ name.0 }}">
                            </td>
                            <td>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Get Password</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% elif error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elif password %}
        {% for pass in password %}
            <div class="alert alert-success" role="alert">
                Password: {{ pass.0 }}
            </div>
        {% endfor %}
        {% if actually_valid %}
            <div class="alert alert-success" role="alert">
                Great job getting the answer without SQLi. Here's a flag:
                {% verbatim %}
                    <!-- NOTE: Change this before deploy -->
                    Flag={__PLACEHOLDER_FLAG__}
                {% endverbatim %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        function goBack() {
            window.location = "/";
        }
    </script>
{% endblock %}