{% extends 'crapdb/base.html' %}

{% block head %}
    {{ block.super }}

    <!-- Custom styles for signin page -->
    {% load static %}
    <link href="{% static 'crapdb/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" action="{% url 'crapdb:searchcrap' %}" method="POST">
        {% csrf_token %}

        <h2 class="form-signin-heading">Who are you?</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        {% verbatim %}
            <input type="hidden" value="flag={dont_evet_stop_lookin_at_that_sweet_sweet_source_code}">
        {% endverbatim %}

        <div style="padding-top: 10px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            <button onclick="goBack()" class="btn btn-lg btn-primary btn-block" type="button">Back</button>
        </div>
    </form>

    {% if success is True and result %}
        <div class="alert alert-success" role="alert">
            User found
        </div>
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Security Question</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Reset</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in result %}
                        <tr>
                            <td>{{ name.0 }}</td>
                            <td>{{ name.1 }}</td>
                            <td>
                                <input
                                    type="text"
                                    name="answer"
                                    class="form-control"
                                    placeholder="Security Question Answer"
                                    required>
                            </td>
                            <td>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

        <!-- TODO: Security Questions -->
    {% elif success is True and not result %}
        <div class="alert alert-danger" role="alert">
            {% if error %}
                {{ error }}
            {% else %}
                No user with that username
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        function goBack() {
            window.location = "/";
        }
    </script>
{% endblock %}