{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    <!-- Custom styles for signin page -->
    {% load static %}
    <link href="{% static 'crapdb/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar fixed-top navbar-light navbar-dark bg-primary justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="/">Bunions</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Test a Flag">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Get Hacket Bucks</button>
            </form>
        </div>
    </nav>

    <form class="form-signin" action="{% url 'crapdb:login' %}" method="POST">
        {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        {% verbatim %}
            <!-- NOTE: Change flag value before release -->
            <input type="hidden" value="Flag={__PLACEHOLDER_FLAG__}">
        {% endverbatim %}

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <a href="{% url 'crapdb:forgetful' %}">Forgot Username/Password?</a>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <div id="alerts">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <p>&copy; {% now "Y" %} rustedbunions.com | <a href="{% url 'crapdb:about' %}">about</a></p>
{% endblock %}

{% block script %}
    {{ block.super }}

    {% load static %}
    <script src="{% static 'crapdb/js/index.js' %}"></script>

    <script>
        // Sets a global variable with the page error if there is one
        var pageError = "{{ error }}";
    </script>
{% endblock %}