{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    <!-- Custom styles for signin page -->
    {% load static %}
    <link href="{% static 'crapdb/css/signin.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'core/tags/unauth-navbar.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <unauth-navbar hacker-bucks="{{ unauth_session.hacker_bucks }}"></unauth-navbar>

    <form autocomplete="off" class="form-signin" action="{% url 'crapdb:login' %}" method="POST">
        {% csrf_token %}
        <!-- Trying my hardest to avoid autocomplete here-->
        <input style="display:none;" autocomplete="false" type="text" name="noautocomplete">
        <input style="display:none" type="text" name="username"/>
        <input style="display:none" type="password" name="password"/>

        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" autocomplete="new-password" type="password" id="inputPassword" maxlength="128" class="form-control" placeholder="Password" required>

        <input type="hidden" value="{{ index_page_source }}">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <a href="{% url 'crapdb:forgetful' %}">Forgot Username/Password?</a>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <div id="alerts">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    {% load static %}
    <script src="{% static 'crapdb/js/index.js' %}"></script>

    <script>
        // Sets a global variable with the page error if there is one
        var pageError = "{{ error }}";
        var csrf_token = "{{ csrf_token }}";
        var unauth_session_oid = "{{ unauth_session.oid }}";
        var index_console_output = "{{ index_console_output }}";

        $(document).ready(function() {
            riot.mount("unauth-navbar");
        });
    </script>
{% endblock %}