{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'crapdb/css/challenge/matrix.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/challenge/flyingflags.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/hackerstyle.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'crapdb/tags/blog-content.tag.html' %}" type='riot/tag'></script>
    <script src="{% static 'crapdb/tags/challenge-modal.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="nav">
                    <a class="nav-link" onclick="logout()" href="#">Logout</a>
                    <a class="nav-link" onclick="superAdmin()" id="settingsButton" href="#">Super Admin Settings</a>
                    <a class="nav-link" onclick='brutalForce()' id="brutalForceButton" href="#">
                        {% if session.challenges.brutal_force.purchased %}
                            Brutal Force
                        {% else %}
                            Brutal Force ($ {{ session.challenges.brutal_force.meta.price }})
                        {% endif %}
                    </a>
                    <a class="nav-link" onclick='rot()' id="rotButton" href="#">
                        {% if session.challenges.rot.purchased %}
                            ROT?
                        {% else %}
                            ROT? (${{ session.challenges.rot.meta.price }})
                        {% endif %}
                    </a>
                    <a class="nav-link" onclick='jackit()' id='jackitButton' href="#">Game Time!</a>
                </nav>
            </div>
        </div>

        <div class="blog-header">
            <div class="container">
                {% if session.username %}
                    <h1 class="blog-title">Welcome {{ session.username }}</h1>

                    {% if session.username|length <= 8 and not session.actually_valid %}
                        <p>
                            You logged in with the shortest possible SQLi for this site.
                            Here ya go: <br> {{ shortest_sqli }}
                        </p>
                    {% endif %}
                {% else %}
                    <h1 class="blog-title">Welcome {{ no_user_login }}</h1>
                {% endif %}

                {% if not session.password %}
                    <p>How'd you get in here without a {{ no_password_login }}</p>
                {% elif session.actually_valid %}
                    <!-- Flag for logging in with legit creds (no SQLi) -->
                    <p>
                        No SQLi earns you a flag: {{ valid_creds_login }}
                    </p>
                {% else %}
                    {% if session.username and session.username|length > 8 or not session.username %}
                        <p>SQLi doesn't deserve a flag you big jerk</p>
                    {% endif %}
                {% endif %}

                <p>NOTE: Session timout after 30 minutes of idle time</p>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="row">
            <blog-content class="col-sm-8 blog-main"></blog-content>

            <aside class="col-sm-3 ml-sm-auto blog-sidebar">
                <div class="sidebar-module card" style="margin-bottom: 10px;padding-bottom: 0px;">
                    <div class="card-body">
                        <h4 class="card-title text-center">Hacker Bucks</h4>

                        <!--Points populated by jquery-->
                        <p class="text-center" style="font: 24px arial;">
                            $<span id="hackerBucks">{{ session.hacker_bucks }}</span>
                        </p>
                    </div>
                </div>

                <div class="sidebar-module form-group">
                    <input class="form-control" type="text" id="testflag"
                        placeholder="Test a flag" name="checkflag" onkeydown="testFlagKeyDown(event)">

                    <button style="margin-top: 8px;" class="btn btn-success btn-block" 
                        onclick="testFlag()">Get Hacker Bucks</button>
                </div>

                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>
                        Buffer afk ascii flood ack ssh chown finally client var concurrently gobble 
                        regex gnu. Epoch char bytes ban memory leak thread race condition.
                    </p>
                </div>

                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </main><!-- /.container -->

    <footer class="blog-footer">
        <p>Blog template built for <a href="#">Bootstrap</a> by 
            <a href="#">@mdo</a>. Modified
            for hackers by <a href="#">#RustyBunions</a>
        </p>
        <p><a href="#">Back to top</a></p>
    </footer>

    <!-- Include the modals in the page -->
    {% include "./challenge/brutalforce.html" %}
    {% include "./challenge/rot.html" %}
    {% include "./challenge/superadmin.html" %}

    <canvas id="matrix" style="display:none"></canvas>
{% endblock %}

{% block footer %}
    <p>&copy; {% now "Y" %} rustedbunions.com | <a href="{% url 'crapdb:about' %}">about</a></p>
{% endblock %}

{% block script %}
    {{ block.super }}

    {% load static %}
    <!-- Load the challenge JS files -->
    <script src="{% static 'crapdb/js/challenge/matrix.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/flyingflags.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/brutalforce.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/rot.js' %}"></script>

    <!-- External deps -->
    <script src="{% static 'crapdb/js/external/md5.min.js' %}"></script>

    <script>
        // This prevents the user from ever accessing the modal
        // Impossible to bypass this
        var authorized = false;

        function superAdmin() {
            if (authorized) {
                var session_id = localStorage.getItem("session_id");
                $.ajax({
                    url: "/crapdb/superadmin/" + session_id + "/",
                    type: "GET",
                    success: function(data) {
                        var res = JSON.parse(data);
                        if (res.redirect) {
                            window.location = "/crapdb/?error=" + encodeURIComponent(res.redirect);
                            return;
                        }

                        $("#superAdminModalBody").text(res.flag);
                        $("#superAdminModal").modal({show: true});
                    }
                });
            } else {
                errorAlert("Javascript validation failed. You are not super admin. authorized=" + authorized);
            }
        }

        function testFlagKeyDown(event) {
            if (event.key == "Enter") {
                testFlag();
            }
        }

        function logout() {
            var session_id = localStorage.getItem("session_id");
            localStorage.clear();
            window.location = "/crapdb/logout/" + session_id + "/";
        }

        function jackit() {
            var session_id = localStorage.getItem("session_id");
            window.location = "/jackit/" + session_id + "/";
        }

        $(document).ready(function() {
            riot.mount("blog-content");
            riot.mount("challenge-modal");

            // Set the session ID in the browser's local storage for later
            localStorage.setItem("session_id", "{{ session_id }}");
            // Set the csrf_token in the local storage for later
            localStorage.setItem("csrf_token", "{{ csrf_token }}");

            var pin_hash = localStorage.getItem("pin_hash");
            if (pin_hash) {
                $("#brutalForceButton").text("Brutal Force");
            }

            var encrypted_message = localStorage.getItem("encrypted_message");
            if (encrypted_message) {
                $("#rotButton").text("ROT?");
                $("#cipher-text").text(encrypted_message);
            }
        });
    </script>
{% endblock %}