{% extends 'crapdb/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'crapdb/css/challenge/matrix.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/challenge/flyingflags.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'crapdb/css/hackerstyle.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'crapdb/tags/blog-content.tag.html' %}" type='riot/tag'></script>
    <script src="{% static 'crapdb/tags/blog-glitch-content.tag.html' %}" type='riot/tag'></script>
    <script src="{% static 'crapdb/tags/challenge-modal.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="nav">
                    <a class="nav-link" onclick="logout()" href="#">Logout</a>
                    <a class="nav-link" onclick="openModal()" id="settingsButton" href="#">Super Admin Settings</a>
                    <a class="nav-link" onclick='brutalForce("{{ session_id }}")' id="numpadButton" href="#">Brutal Force ($15)</a>
                    <a class="nav-link" onclick='rot("{{ session_id }}")' id="rotButton" href="#">ROT? ($50)</a>
                </nav>
            </div>
        </div>

        <div class="blog-header">
            <div class="container">
                {% if session.username %}
                    <h1 class="blog-title">Welcome {{ session.username }}</h1>
                {% else %}
                    <!-- Flag for logging in without a username -->
                    {% verbatim %}
                        <!-- NOTE: Change flag value before release -->
                        <h1 class="blog-title">Welcome Flag={__PLACEHOLDER_FLAG__?}</h1>
                    {% endverbatim %}
                {% endif %}

                {% if not session.password %}
                    <!-- Flag for logging in without a password -->
                    {% verbatim %}
                        <!-- NOTE: Change flag value before release -->
                        <p>How'd you get in here without a Flag={__PLACEHOLDER_FLAG__}</p>
                    {% endverbatim %}
                {% elif session.actually_valid %}
                    <!-- Flag for logging in with legit creds (no SQLi) -->
                    <p>
                        No SQLi earns you a flag: 
                        {% verbatim %}
                            <!-- NOTE: Change value before release -->
                            Flag={__PLACEHOLDER_FLAG__}
                        {% endverbatim %}
                    </p>
                {% else %}
                    <p>SQLi doesn't deserve a flag you big jerk</p>
                {% endif %}

                <p>NOTE: Session timout after 30 minutes of idle time</p>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="row">
            <blog-content class="col-sm-8 blog-main"></blog-content>

            <aside class="col-sm-3 ml-sm-auto blog-sidebar">
                <div class="sidebar-module card" style="margin-bottom: 10px;padding-bottom: 0px;">
                    <div class="card-body">
                        <h4 class="card-title text-center">Hacker Bucks</h4>
        
                        <!--Points populated by jquery-->
                        <p class="text-center" style="font: 24px arial;">
                            $<span id="hackerBucks">{{ session.hacker_bucks }}</span>
                        </p>
                    </div>
                </div>
        
                <div class="sidebar-module form-group">
                    <input
                        class="form-control"
                        type="text"
                        id="testflag"
                        placeholder="Test a flag"
                        name="checkflag">
        
                    <button
                        style="margin-top: 8px;"
                        class="btn btn-success btn-block" 
                        onclick="testFlag()">Get Hacker Bucks</button>
                </div>
        
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>
                        Buffer afk ascii flood ack ssh chown finally client var concurrently gobble 
                        regex gnu. Epoch char bytes ban memory leak thread race condition.
                    </p>
                </div>
        
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </main><!-- /.container -->

    <footer class="blog-footer">
        <p>Blog template built for 
            <a href="#">Bootstrap</a> by 
            <a href="#">@mdo</a>. Modified
            for hackers by <a href="#">#RustyBunions</a>
        </p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <challenge-modal modal-id="settingsModal">
        <yield to="modal-header">
            <h5 class="modal-title">How'd you get here?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </yield>
        <yield to="modal-body">
            <p id="modalBody">
                <!-- Flag goes here eventually -->
            </p>
            <p>
                You take the blue pill, the story ends. You wake up in your bed and believe whatever
                you want to believe. You take the red pill, you stay in Wonderland, and I show you
                how deep the rabbit hole goes.
            </p>
            <button type="button" class="btn btn-primary" onclick="logout()">Blue Pill</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="redPill()">Red Pill</button>
        </yield>
        <yield to="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </yield>
    </challenge-modal>

    <challenge-modal modal-id="numpadModal" modal-footer-class="modal-body">
        <yield to="modal-header">
            <div class="form-group" style="width: 100%;">
                <label for="testpin">4 digit PIN</label>
                <input
                    class="form-control"
                    type="number" id="testpin"
                    name="testpin" placeholder="0000"
                    min="0" max="9999">
            </div>
        </yield>
        <yield to="modal-body">
            <button
                type="button"
                class="btn btn-success"
                onclick="submitPin($('#testpin').val(), display_alert=true)">Submit PIN</button>
        </yield>
        <yield to="modal-footer">
            <div id="numpadModalFooter"></div>
        </yield>
    </challenge-modal>

    <challenge-modal modal-id="rotModal" modal-footer-class='modal-body'>
        <yield to="modal-header">
            <div class="form-group" style="width: 100%;">
                <label for="testmsg" id="cipher-text"></label>
                <input
                    class="form-control"
                    type="text" id="cleartext"
                    name="cleartext" placeholder="What's that say?">
            </div>
        </yield>
        <yield to="modal-body">
            <button
                type="button"
                class="btn btn-success"
                onclick="submitAnswer($('#cleartext').val())">Submit Answer</button>
        </yield>
        <yield to="modal-footer">
            <div id="rotModalFooter"></div>
        </yield>
    </challenge-modal>

    <canvas id="matrix" style="display:none"></canvas>
{% endblock %}

{% block script %}
    {{ block.super }}

    <!-- Phaser javascript game engine -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.9.1/phaser.min.js" 
        integrity="sha256-93nav3Eqz92Cbnx1ly8dgyyKxMBwi7vZfojSe0POrSc=" 
        crossorigin="anonymous"></script>

    {% load static %}
    <!-- Load the challenge JS files -->
    <script src="{% static 'crapdb/js/challenge/matrix.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/flyingflags.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/brutalforce.js' %}"></script>
    <script src="{% static 'crapdb/js/challenge/rot.js' %}"></script>

    <!-- External deps -->
    <script src="{% static 'crapdb/js/external/md5.min.js' %}"></script>

    <script>
        // This prevents the user from ever accessing the modal
        // Impossible to bypass this
        var authorized = false;

        function openModal() {
            if (authorized) {
                var session_id = localStorage.getItem("session_id");
                $.ajax({
                    url: "/crapdb/getmodalflag/" + session_id + "/",
                    type: "GET",
                    success: function(data) {
                        var res = JSON.parse(data);
                        if (res.redirect) {
                            window.location = "/crapdb/?error=" + encodeURIComponent(res.redirect);
                            return;
                        }

                        $("#modalBody").text(res.flag);
                        $("#settingsModal").modal({show: true});
                    }
                });
            } else {
                errorAlert("Javascript validation failed. You are not super admin. authorized=" + authorized);
            }
        }

        function redPill() {
            // go deeper
            var session_id = localStorage.getItem("session_id");

            setTimeout(function() {
                $("#matrix").css("display", "unset");
                runMatrix();

                // Triggers the background-color to transition to black
                // because of CSS settings
                $("#matrix").css("background-color", "black");

                // Start popping up flags like crazy after 10 seconds of matrix
                setTimeout(function() {
                    flagsForDays(session_id, csrf_token="{{ csrf_token }}");

                    // Stop popping up the flags 10 seconds later
                    setTimeout(function() {
                        stopFlyingFlags();
                    }, 10000);
                }, 10000);
            }, 1000);
        }

        function stopFlyingFlags() {
            if (flyingFlagsIntervalId) {
                clearInterval(flyingFlagsIntervalId);
            }
        }

        function testFlag() {
            var session_id = localStorage.getItem("session_id");
            var flag = $("#testflag").val();

            $.ajax({
                url: "/crapdb/checkflag/" + session_id + "/",
                type: "POST",
                data: {
                    flag: flag,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(res) {
                    res = JSON.parse(res);
                    if (res.redirect) {
                        window.location = "/crapdb/?error=" + encodeURIComponent(res.redirect);
                    }

                    if (res.hacker_bucks) {
                        $("#hackerBucks").text(res.hacker_bucks);
                    }
                }
            });
        }

        function logout() {
            var session_id = localStorage.getItem("session_id");
            localStorage.clear();
            window.location = "/crapdb/logout/" + session_id + "/";
        }

        function bootstrapAlert(msg, target=$(".blog-header"), prepend=true, cls="alert-danger", autoclose=4000) {
            var alert = $("<div class='alert alert-dismissible fade show' role='alert'>")
                .addClass(cls)
                .text(msg)
                .append($("<button type='button' class='close' data-dismiss='alert' aria-label='Close'>")
                    .append($("<span aria-hidden='true'>").html("&times;")));

            var bootstrap_alert = false;
            if (prepend && (typeof target.prepend === "function")) {
                target.prepend(alert);
                bootstrap_alert = true;
            } else if (typeof target.append === "function") {
                target.append(alert);
                bootstrap_alert = true;
            } else {
                alert(error);
            }

            if (bootstrap_alert) {
                alert.alert();
                
                if (autoclose) {
                    setTimeout(function() {
                        alert.alert('close');
                    }, autoclose);
                }
            }
        }

        function errorAlert(error, target=$(".blog-header"), prepend=true, autoclose=4000) {
            bootstrapAlert(error, target=target, prepend=prepend, cls="alert-danger", autoclose=autoclose);
        }

        function successAlert(msg, target=$(".blog-header"), prepend=true, autoclose=4000) {
            bootstrapAlert(msg, target, prepend, cls="alert-success", autoclose=autoclose);
        }

        $(document).ready(function() {
            riot.mount("blog-content");
            riot.mount("challenge-modal");

            // Set the session ID in the browser's local storage for later
            localStorage.setItem("session_id", "{{ session_id }}");
            // Set the csrf_token in the local storage for later
            localStorage.setItem("csrf_token", "{{ csrf_token }}");

            var pin_hash = localStorage.getItem("pin_hash");
            if (pin_hash) {
                $("#numpadButton").text("Brutal Force");
            }

            var encrypted_message = localStorage.getItem("encrypted_message");
            if (encrypted_message) {
                $("#rotButton").text("ROT?");
                $("#cipher-text").text(encrypted_message);
            }
        });
    </script>
{% endblock %}