<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

            <meta name="theme-color" content="#4286f4" />

            <title>C4n y0u H4ck 1t</title>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
                integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" 
                crossorigin="anonymous">

            {% load static %}
            <!-- Handles the favicon -->
            <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link rel="stylesheet" href="{% static 'core/css/ie10-viewport-bug-workaround.css' %}">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}

            <footer class="footer">
                {% block footer %}
                    <p>
                        &copy; {% now "Y" %} rustedbunions.com |
                        <a href="{% url 'crapdb:about' %}">about</a>
                        | <a href="{% url 'leaderboard:index' %}">leaderboard</a>
                    </p>
                {% endblock %}
            </footer>
        </div>

        {% block script %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
            
            <!-- Popper (necessary for Bootstrap) -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>

            <!-- Bootstrap Javascript -->
            <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>

            <!-- RIOT JS -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.7.3/riot+compiler.min.js" 
                integrity="sha256-GHA3LYZISL25HCo1Hu8hAxdb96gNplLLnVDsl0MKamM=" 
                crossorigin="anonymous"></script>

            <!-- SHA256 Implementation in JS -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.8.0/sha256.min.js"
                integrity="sha256-YSPBMepWsRDP0wlRlKhlWUNPbRPPqBiwj3jXEMTdeD8="
                crossorigin="anonymous"></script>

            {% load static %}
            <!-- Load the core JS for the site -->
            <script src="{% static 'core/js/core.js' %}"></script>

            <script>
                // Define these so they can be used to submit flags when not authenticated
                csrf_token = "{{ csrf_token }}";
                unauth_session_oid = "{{ unauth_session.oid }}";
                session_id = "{{ session_id }}";
            </script>
        {% endblock %}
    </body>
</html>