{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'leaderboard/css/index.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'core/tags/unauth-navbar.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <unauth-navbar hacker-bucks="{{ unauth_session.hacker_bucks }}"></unauth-navbar>

    <div id="error"></div>

    <form class="form-inline col-md-12" onsubmit="submitScore(event)" action="#">
        <div class="form-group">
            <label for="inputName" class="sr-only">Nickname</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nickname" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit Score</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lifetime Hacker Bucks</th>
                <th scope="col">Total Playtime</th>
                <th scope="col">Flags Found</th>
                <th scope="col">% Complete</th>
            </tr>
        </thead>
        <tbody>
            {% for leader in leaderboard %}
                <tr>
                    <td>{{ leader.name }}</td>
                    <td>{{ leader.lifetime_hacker_bucks }}</td>
                    <td>{{ leader.playtime }}</td>
                    <td>{{ leader.flags_found }}</td>
                    <td>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success"
                                role="progressbar" style="width: {{ leader.percent_complete }}%;"
                                aria-valuenow="{{ leader.percent_complete }}" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if leaderboard|length == 0 %}
        <button class="btn btn-secondary btn-lg btn-block disabled">No Scores</button>
    {% endif %}
    <hr>
{% endblock %}

{% block footer %}
    <p>&copy; {% now "Y" %} rustedbunions.com | <a href="{% url 'crapdb:index' %}">home</a></p>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        var unauth_session_oid = "{{ unauth_session.oid }}";
        var csrf_token = "{{ csrf_token }}";

        function submitScore(e) {
            e.preventDefault(); // Prevent the submit from redirecting automatically

            var name = $("#inputName").val();
            $("#inputName").val(''); // Clear nickname on submit

            $.ajax({
                url: "/leaderboard/submit/",
                type: "POST",
                data: {
                    name: name,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function(data) {
                    var res = JSON.parse(data);

                    if (res.error) {
                        console.log("Failed: ", res.error);
                        errorAlert(res.error, options={
                            target: $("#error")
                        });
                    } else {
                        // Reload the page
                        window.location = "/leaderboard/";
                    }
                }
            });
        }

        $(document).ready(function() {
            riot.mount("unauth-navbar");
        });
    </script>
{% endblock %}