{% extends 'core/base.html' %}

{% block head %}
    {{ block.super }}

    {% load static %}
    <link href="{% static 'leaderboard/css/index.css' %}" rel="stylesheet">

    <!-- Load Riot Tags -->
    <script src="{% static 'core/tags/unauth-navbar.tag.html' %}" type='riot/tag'></script>
{% endblock %}

{% block content %}
    <unauth-navbar hacker-bucks="{{ unauth_session.hacker_bucks }}"></unauth-navbar>

    <div id="error"></div>

    <p>Provide a nickname and password to save or load your score (score must be greater than 0 to save)</p>

    <form autocomplete="off" class="form-inline col-md-12" onsubmit="submitScore(event)" action="#">
        <!-- Trying my hardest to avoid autocomplete here-->
        <input style="display:none;" autocomplete="false" type="text" name="noautocomplete">
        <input style="display:none" type="text" name="username"/>
        <input style="display:none" type="password" name="password"/>

        <div class="form-group">
            <label for="inputName" class="sr-only">Nickname</label>
            <input type="text" class="form-control" id="inputName" maxlength="25" placeholder="Nickname" required>
        </div>
        <div class="form-group">
            <label for="secretKey" class="sr-only">Password</label>
            <input type="password" autocomplete="new-password" class="form-control" maxlength="128" id="secretKey" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button
                type="submit"
                class="btn btn-primary"
                data-toggle="tooltip"
                data-placement="top"
                title="Save or Update a score">
                Submit Score
            </button>
        </div>
        <div class="form-group">
            <button
                type="button"
                class="btn btn-primary"
                onclick="resumeSession(event)"
                data-toggle="tooltip"
                data-placement="top"
                title="Load an existing session">
                Resume Session
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lifetime Hacker Bucks</th>
                <th scope="col">Current Hacker Bucks</th>
                <th scope="col">Total Playtime</th>
                <th scope="col">Flags Found</th>
                <th scope="col">% Complete</th>
            </tr>
        </thead>
        <tbody>
            {% for leader in leaderboard %}
                <tr>
                    <td>{{ leader.display_name }}</td>
                    <td>{{ leader.lifetime_hacker_bucks }}</td>
                    <td>{{ leader.hacker_bucks }}</td>
                    <td>{{ leader.playtime }}</td>
                    <td>{{ leader.num_flags_found }}/{{ num_flags }}</td>
                    <td>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success"
                                role="progressbar" style="width: {{ leader.percent_complete }}%;"
                                aria-valuenow="{{ leader.percent_complete }}" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if leaderboard|length == 0 %}
        <button class="btn btn-secondary btn-lg btn-block disabled">No Scores</button>
    {% endif %}
    <hr>
{% endblock %}

{% block footer %}
    <p>&copy; {% now "Y" %} rustedbunions.com | <a href="{% url 'crapdb:index' %}">home</a></p>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        function resumeSession(e) {
            var name = $("#inputName").val();
            var secret_key = $("#secretKey").val();

            // Clear on submit
            $("#inputName").val('');
            $("#secretKey").val('');

            $.ajax({
                url: "/leaderboard/load/",
                type: "POST",
                data: {
                    name: name,
                    secret_key: secret_key,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function(data) {
                    var res = JSON.parse(data);

                    if (res.error) {
                        console.log("Failed: ", res.error);
                        errorAlert(res.error, options={
                            target: $("#error")
                        });
                    } else {
                        window.location = "/leaderboard/";
                    }
                }
            });
        }

        function submitScore(e) {
            e.preventDefault(); // Prevent the submit from redirecting automatically

            var name = $("#inputName").val();
            var secret_key = $("#secretKey").val();

            // Clear on submit
            $("#inputName").val('');
            $("#secretKey").val('');

            $.ajax({
                url: "/leaderboard/submit/",
                type: "POST",
                data: {
                    name: name,
                    secret_key: secret_key,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function(data) {
                    var res = JSON.parse(data);

                    if (res.error) {
                        console.log("Failed: ", res.error);
                        errorAlert(res.error, options={
                            target: $("#error")
                        });
                    } else {
                        if (res.flag) {
                            // Alert is blocking
                            alert(res.flag);
                        }
                        // Reload the page
                        window.location = "/leaderboard/";
                    }
                }
            });
        }

        $(document).ready(function() {
            riot.mount("unauth-navbar");
        });
    </script>
{% endblock %}